{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="news_page">
        <div class="row">
            <div class="news">
                <div class="col1">
                    <div class="square"></div>
                    <h5 class="mb-0 ml-2">Сўнгги янгиликлар</h5>
                </div>
                <div class="mt-3">
                    {% for post in object_list %}
                        <div class="d-flex align-items-center">
                            <img src="{% static 'calendar (1).png' %}" width="17px" height="17px" alt="">
                            <p class="mb-0 ml-2 text-secondary">{{ post.created_at | date:'g:i' }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

