{% extends 'layout.html' %}

{% block title %}
    News
{% endblock %}


{% block content %}
    {% if posts %}
        {% for post in posts %}
            <div class="border border-1 m-2">
                <h2><a href="{% url 'yangiliklar:post_detail_page' post.id %}" class="btn">{{ post.title | safe }}</a>
                </h2>
                <p class="pl-2">{{ post.overview | safe }}</p>
            </div>
        {% endfor %}
        <hr/>
        <a href="{% url 'yangiliklar:post_create_page' %}">Create Post</a>
    {% else %}
        <div class="alert alert-warning">Posts not available</div>
    {% endif %}
{% endblock %}